.ml-50 { margin-left: 50px; }
.mr-50 { margin-right: 50px; }
.d-f { display: flex; }
.h-64px { height: 64px; }
.ai-c { align-items: center; }
.jc-sb { justify-content: space-between; }
.pos-sticky { position: sticky; }
.z-5 { z-index: 5; }
.w-fc { width: fit-content; }
.w-300px { width: 300px; }
.fd-co { flex-direction: column; }
.jc-c { justify-content: center; }
.h-80 { height: 80%; }
.fs-40 { font-size: 40px; }
.fw-700 { font-weight: 700; }
.mt-2rem { margin-top: 2rem; }
.fs-12 { font-size: 12px; }
.o-70 { opacity: 70%; }
.fw-300 { font-weight: 300; }
